services:
  cs_bot:
    build:
      context: .
    networks:
      - lavalink
    volumes:
      - "./src/database:/src/database"
    depends_on:
      lavalink:
        condition: service_healthy
    restart: unless-stopped
    env_file:
      - .env

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4.1.2
    container_name: lavalink
    restart: unless-stopped
    volumes:
      - ./src/lavalink/application.yml:/opt/Lavalink/application.yml
      - ./src/lavalink/plugins:/opt/Lavalink/plugins
    user: root
    networks:
      - lavalink
      - nginx-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f -H 'Authorization: ${LAVALINKPASSWORD}' http://localhost:2333/version || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
    depends_on:
      - ejs-api
    ports:
      - "2333:2333"

  ejs-api:
    image: ghcr.io/kikkia/yt-cipher:master
    container_name: ejs_signature_api
    ports:
      - "8001:8001"
    restart: unless-stopped
    networks:
      - lavalink

networks:
  lavalink:
    name: lavalink
    external: true
  nginx-network:
    name: nginx-network
    external: true
