discord.py[voice] == 2.7.1
PyNaCl
beautifulsoup4 == 4.12.3
wavelink @ git+https://github.com/tunwit/Wavelink.git
pymongo == 4.8.0
qrcode == 7.4.2
PyYAML == 6.0.1
textwrap3 == 0.9.2
discord-ext-voice-recv == 0.4.2a145
pydub == 0.25.1
python-dotenv ==1.0.1
requests == 2.32.3
pillow == 10.4.0
pytz
pandas